@import '../../../../../colors';

:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 235px;
}

.search {
  padding: 32px 0 45px;
  text-align: center;
  width: 100%;
}

.input-search {
  background: url(../../../../../assets/search.png) no-repeat scroll 97% 10px;
  background-color: $white;
  border-radius: 5px;
  border: 2px solid $mercury;
  font-family: 'Roboto';
  font-size: 20px;
  height: 50px;
  line-height: 20px;
  max-width: 646px;
  padding: 0 15px;
  width: 100%;
}
