<div class="search">
  <input type="text" class="input-search" placeholder="Busc&aacute; por t&iacute;tulo del libro...">
</div>

<div *ngFor="let book of books | async" class="book-container">
  <div class="book-card" *ngFor="let number of [0,1,2,3,4,5]">
    <img src="../../../../../assets/book-cover.png" alt="" class="book-cover">
    <p class="book-title">{{book.title}}</p>
    <p class="book-author">{{book.author}}</p>
    <button type="button" class="add"><img src="../../../../../assets/add.png" alt=""></button>
  </div>
</div>
