$wild-sand: #F4F4F4;
$earls-green: #BED23C;
$white: #FFF;
$cerulean: #00ADEE;
$silver-chalice: #A8A8A8;
$red: #F00;
$olivine: #A0BF67;
$mercury: #E8E8E8;
$soft-black: rgba(0,0,0,0.5);
$silver: #C8C8C8;
$black: #000;
$gray: #828282;
