@import '../../../colors';

.nav {
  align-items: center;
  background-color: $white;
  border-top: solid $cerulean 6px;
  box-shadow: 0 0 10px 0 $soft-black;
  display: flex;
  height: 64px;
  justify-content: space-between;
  padding: 0 246px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav-logo {
  width: 200px;
}

.nav-title {
  font-size: 18px;
  line-height: 21px;
}

.left-container {
  display: flex;
}

.shopping-cart {
  height: 24px;
  width: 22px;
}

.shopping-cart-container {
  position: relative;
  margin-right: 32px;
}

.sup-quantity {
  background-color: $cerulean;
  border-radius: 50%;
  bottom: 15px;
  color: $white;
  font-size: 10px;
  height: 15px;
  left: 10px;
  padding: 2px 5px;
  position: absolute;
  width: 15px;
}
