<label for="firstname" class="label">Nombre</label>
<input type="text" class="input-text">
<label for="lastname" class="label">Apellido</label>
<input type="text" class="input-text">
<label for="email" class="label">Email</label>
<input type="text" class="input-text">
<label for="password" class="label">Password</label>
<input type="password" class="input-text">
<label for="passowrd-confirm" class="label">Confirmaci&oacute;n de Password</label>
<input type="password" class="input-text">
<input type="submit" value="Sign Up" class="button">
<hr class="hr">
<a href="" class="a">Login</a>