.footer {
    align-items: center;
    background-color: $blue;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
}

.footer-title {
    color: $white;
    font-size: 26px;
    margin-bottom: 20px;
}

.footer-copyright {
    color: $white;
    margin-top: 20px;
    margin-right: 20px;
    align-self: flex-end;
}
