.nav {
  align-items: center;
  background-color: $white;
  box-shadow: 0 0 20px 0 $gray;
  display: flex;
  grid-area: header;
  height: 70px;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-logo {
  width: 200px;
}

.nav-title {
  font-size: 24px;
}

@media only screen and (max-width: 1024px) {
  .nav-title {
    display: none;
  }
}
