* {
  font-family: 'Roboto';
}

.container {
  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-template-rows: 70px auto 250px;
  grid-template-areas: "header header header" ". content ." "footer footer footer";
}

.content {
  grid-area: content;
}