.techs-container {
  align-items: center;
  display: grid;
  grid-template-areas: "main . ." "main . .";
  grid-template-columns:  auto 330px 330px;
  justify-items: right;
  padding: 30px 150px;
}

.tech {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 350px;
  max-width: 225px;
  padding: 10px;
  position: relative;
  width: 100%;

  &:first-child {
    border-right: solid $earls-green 2px;
    height: 100%;
    grid-area: main;
    justify-content: center;
  }
}

.tech-img {
  height: 100px;
  object-fit: contain;
  width: 100px;
}

.tech-name {
  font-size: 16px;
  margin: 10px 0;
}

.tech-release {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}

.tech-description {
  font-size: 16px;
  margin: 20px 0;
  text-align: center;
}
