.techs {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin: 0 150px;
  padding: 30px 80px
}

.tech {
  align-items: center;
  background-color: $tech-earls-green;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 350px;
  margin: 30px;
  padding: 10px;
  position: relative;
  width: 225px;
  transition: after 0.5s ease;

  &::after {
    content: '';
    box-sizing: border-box;
    border: solid $tech-earls-green 1px;
    border-radius: 5px;
    bottom: 10px;
    height: 350px;
    position: absolute;
    right: 10px;
    width: 225px;
    z-index: -1;
  }
}

.tech:hover {
  &::after {
    top: 10px;
    left: 10px;
  }
}

.tech-img {
  height: 100px;
  width: 100px;
}

.tech-name {
  font-size: 16px;
  margin: 10px 0;
}

.tech-release {
  font-size: 16px;
  margin: 10px 0;
}

.tech-description {
  font-size: 16px;
  margin: 20px 0;
  text-align: center;
}
