.title {
  align-items: center;
  display: flex;
  padding: 0 4cm;
}

.title-img {
  height: 96px;
  width: 96px;
}

.title-words {
  font-size: x-large;
  position: relative;
  right: 0.85cm;
  top: 0.15cm;
}
